<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

<!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <title><%= content_for?(:title) ? yield(:title) : "Hiram's Picks" %></title>

    
    <%= javascript_include_tag :application %>
    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.embed.ly/jquery.embedly-3.1.0.min.js"></script>

    <%= stylesheet_link_tag    "css/normalize" %>
    <%= stylesheet_link_tag    "css/foundation" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <!--
    <audio autoplay="autoplay">   
      <source src="https://dl.dropboxusercontent.com/u/11548/vazqueezy.mp3" type="audio/mpeg"/>  
    </audio> -->
    <div id="user_nav">
      <% if current_user %>
        Welcome, <%= current_user.name %>!
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      <% end %>
  </div>
    <%= yield %>

  </body>
</html>
